:root {
  font-family: 'VT323', monospace;
  line-height: 1.3;
  font-weight: 400;

  color-scheme: light dark;
  color: #22ff00;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  color: #22ff00;
  font-family: 'VT323', monospace;
  font-size: 22px;
}
